<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- ASR.AllowNonAdminDownloads
      By Default nonAdmin users can not download using the standard download.aspx page. ASR will offer them 
      to email the report as an attachement.
      If the download.aspx has been modified to allow downloads this can be set to true.-->
      <setting name="ASR.AllowNonAdminDownloads" value="true"></setting>
    </settings>
  </sitecore>
</configuration>
