<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="asr:open" type="ASR.Commands.Open,ASR"/>
			<command name="asr:run" type="ASR.Commands.Run,ASR"/>
			<command name="asr:refresh" type="ASR.Commands.Refresh,ASR"/>
			<command name="asr:createlink" type="ASR.Commands.CreateLink,ASR"/>
			<command name="asr:email" type="ASR.Commands.Email,ASR" />
			<command name="asr:exportexcel" type="ASR.Commands.ExportExcel,ASR"/>
			<command name="asr:exportcsv" type="ASR.Commands.ExportCSV,ASR"/>
			<command name="asr:exportxml" type="ASR.Commands.ExportXML,ASR"/>
			<command name="asr:kick" type="ASR.Reports.Sessions.Kick,ASR.Reports"/>
			<command name="asr:setowner" type="ASR.Commands.SetOwner,ASR"/>
            <command name="asr:TrimVersions" type="ASR.Reports.Commands.TrimVersions,ASR.Reports"/>                          
      <command name="asr:save" type="ASR.Commands.Save,ASR"/>
		</commands>
		<controlSources>
			<source patch:after="source[7]" mode="on" namespace="ASR.Controls" assembly="ASR" />
		</controlSources>
		
		<settings>
			<!--  Query.MaxItems
				Specifies the max number of items in a query result set.
				If the number is 0, all items are returned. This may affect system performance, if a 
				large query result is returned.
				This also controls the number of items in Lookup, Multilist and Valuelookup fields.
				Default value: 100
			-->
			<setting name="Query.MaxItems" value="0" />
      <!-- Page size for report results -->
      <setting name="ASR.PageSize" value="30"/>
      <!-- Max number of pages for report results. -->
      <setting name="ASR.MaxNoPages" value="40"/>
      <!-- Database where configuration is stored-->
      <setting name="ASR.ConfigurationDatabase" value="master"/>
      <!-- Folder for Reports -->
      <setting name="ASR.ReportsFolder" value="/sitecore/system/Modules/ASR/Reports"/>
      <!-- Folder for Parameters -->
      <setting name="ASR.ParametersFolder" value="/sitecore/system/Modules/ASR/Configuration/Parameters"/>
      <!-- From field for emails. If empty the Context User Email address -->
      <!--<setting name="ASR.EmailFrom" value="test@test.com"/>-->
      

    </settings>
		<ui>
			<references>
				<reference patch:after="reference[7]" blank="">/bin/ASR.dll</reference>
			</references>
		</ui>
	</sitecore>
</configuration>
